################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ERP.SGA/ERP.SGA.WinApp/obj
/.vs
/ERP.SGA/.vs/ERP.SGA
